# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Directorio de salida de TypeScript

build/

# Archivos específicos de TypeScript
*.tsbuildinfo

# Configuración del entorno
.env
.env.local
.env.*.local

# Logs
logs/
*.log
logs/*.log

# Sistema operativo
.DS_Store
Thumbs.db

# Configuración del editor
.idea/
.vscode/
*.swp

# Cobertura de pruebas
coverage/

# Paquete de lockfiles
package-lock.json
yarn.lock
pnpm-lock.yaml
